.page {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.content {
  padding-top: 2.5rem;
  flex: 1;
}

@media (max-width: 480px) {
  .content {
    padding-top: 1rem;
  }
}
