.page {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.content {
  padding-top: 6rem;
  flex: 1;
}

@media (max-width: 768px) {
  .content {
    padding-top: 5rem;
  }
}
