.layout {
  padding: 1rem;
  margin-bottom: 3rem;
}

.contentWrapper {
  display: flex;
  gap: 1rem;
  justify-content: center;
  max-width: 100%;
  margin-bottom: 2rem;
}

.content {
  flex: 1;
  padding: 1rem;
  box-shadow: 0 0 10px var(--border-shadow);
  background: var(--bg-secondary);
  border-radius: 0.5rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 100%;
  overflow-x: hidden;
}

.comments {
  box-shadow: 0 0 10px var(--border-shadow);
  background: var(--bg-secondary);
  border-radius: 0.5rem;
  max-width: 100%;
  padding: 0.5rem;
  height: fit-content;
}

@media (max-width: 768px) {
  .layout {
    padding: 0.5rem;
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  .sideBarWrapper {
    display: none;
  }

  .contentWrapper {
    justify-content: center;
  }

  .content {
    padding: 0.5rem;
    max-width: none;
    width: 100%;
  }
}
