.layout {
  display: flex;
  gap: 1rem;
  justify-content: center;
  max-width: 100%;
  padding: 1rem;
  margin-bottom: 3rem;
}

.content {
  flex: 1;
  padding: 2rem;
  background: #1e1e1e;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 100%;
  min-width: 0;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .sideBarWrapper {
    display: none;
  }

  .layout {
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 3rem;
    padding: 0.5rem;
  }

  .content {
    padding: 0.5rem;
    max-width: none;
    width: 100%;
  }
}
