.wrapper {
  display: flex;
  gap: 0.5rem;
  align-items: flex-start;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.profileAvatarImgUser {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  border-radius: 0.5rem;
  border: 2px solid var(--border-color);
}

.profileAvatarImg {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  background-color: whitesmoke;
  border-radius: 0.5rem;
  border: 2px solid var(--border-color);
}

@media (max-width: 720px) {
  .profileAvatarImg,
  .profileAvatarImgUser {
    display: none;
  }
}
