.spinnerWrapper {
  width: 50px;
  height: 50px;
  border: 5px solid var(--bg-lite);
  border-top: 5px solid var(--text-green);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
