.section {
  padding: 1rem;
}

.headerWrapper {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.head {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 16px;
}

.header img {
  filter: var(--icon-filter);
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.title img {
  width: 20px;
  height: 20px;
  opacity: 0.8;
}

.title h3 {
  font-size: 16px;
  font-weight: 600;
  font-family:
    Onest Variable,
    sans-serif;
  margin: 0;
}

.title a {
  margin-left: 12px;
  font-size: 12px;
  color: var(--text-muted);
  text-decoration: none;
  font-family:
    Onest Variable,
    sans-serif;
}

.title a:hover {
  text-decoration: underline;
}

.meta {
  margin-top: 1rem;
}

.meta span {
  font-size: 0.9rem;
  color: var(--text-muted);
  font-family:
    Onest Variable,
    sans-serif;
}

.input {
  margin-bottom: 1rem;
}

.commentsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (max-width: 480px) {
  .title {
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }

  .title a {
    text-align: end;
    font-size: 0.7rem;
    margin: 0;
  }

  .section {
    padding: 0.5rem;
  }
}
