.commentContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.deletedText {
  font-style: italic;
  color: #888;
  padding: 0.25rem 0;
  font-family:
    Onest Variable,
    sans-serif;
}

.commentText {
  color: var(--text-main);
  font-size: 0.95rem;
  line-height: 1.5;
  word-break: break-word;
  font-family:
    Onest Variable,
    sans-serif;
}

.commentImg {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.commentImg img {
  object-fit: cover;
  border-radius: 6px;
  max-width: 100%;
  border: 1px solid var(--border-color);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

@media (max-width: 720px) {
  .commentText {
    font-size: 0.9rem;
  }
}
