.commentWrapper {
  margin-bottom: 0.5rem;
}

.commentContainer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  transition:
    background-color 0.25s ease,
    border-color 0.25s ease;
}

.profileAvatarImg {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  border-radius: 0.5rem;
  border: 2px solid var(--border-color);
  background-color: whitesmoke;
  flex-shrink: 0;
}

.body {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 1rem;
}

.commentBody {
  border-radius: 8px;
  background-color: var(--bg-secondary);
  border: 1px solid var(--border-color);
  flex: 1;
  gap: 0.5rem;
  position: relative;
  padding: 1rem;
}

.deleteWrapper {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-left: auto;
  top: 0.75rem;
  right: 0.75rem;
  gap: 0.5rem;
}

.replyInputWrapper {
  margin-top: 0.75rem;
  margin-left: 0.75rem;
}

@media (max-width: 720px) {
  .profileAvatarImg {
    width: 2rem;
    height: 2rem;
  }

  .replyInputWrapper {
    margin-top: 0.5rem;
  }
}
