.courseWrapper {
  gap: 2rem;
  max-width: 70rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem 8rem;
  box-sizing: border-box;
}

.soon {
  font-family:
    Onest Variable,
    sans-serif;
  font-size: 1.1rem;
  color: var(--text-secondary);
  font-weight: 600;
  text-align: center;
  margin: 5rem 0;
}

.topicsHeader {
  font-family:
    Onest Variable,
    sans-serif;
}

@media (max-width: 640px) {
  .courseWrapper {
    padding: 0 0.75rem 8rem;
  }

  .topicsHeader {
    text-align: center;
  }
}
