.advantagesWrapper {
  width: 100%;
  max-width: 90%;
  margin: 2rem auto 8rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.header {
  font-family:
    Onest Variable,
    sans-serif;
  text-align: center;
  color: var(--text-secondary);
  font-weight: 600;
  font-size: 1.5rem;
}

.advantagesItem {
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px var(--border-shadow);
  background: var(--bg-secondary);
  backdrop-filter: blur(14px) saturate(140%);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease,
    background-color 0.4s ease,
    color 0.4s ease;
  color: var(--text-secondary);
}

.itemHeader {
  margin: 0 0 0.5rem 0;
  font-size: 1.25rem;
  text-align: center;
  font-weight: 700;
  color: var(--text-secondary);
  font-family:
    Onest Variable,
    sans-serif;
}

.itemText {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--text-secondary);
  font-family:
    Onest Variable,
    sans-serif;
  text-align: center;
}

@media (max-width: 1024px) {
  .advantagesWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .advantagesWrapper {
    grid-template-columns: 1fr;
    margin-top: 1.5rem;
  }

  .advantagesItem {
    padding: 1.25rem;
  }
}
