.profileContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

.infoWrapper {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.imgWrapper {
  width: 6rem;
  height: 6rem;
  border-radius: 0.5rem;
  overflow: hidden;
  border: 2px solid black;
  background-color: var(--bg-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileAvatarImgUser {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profileAvatarImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: whitesmoke;
}

.textBlock {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.labels {
  font-family:
    Onest Variable,
    sans-serif;
  font-size: 0.85rem;
  color: var(--text-muted);
}

.info {
  font-family:
    Onest Variable,
    sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-main);
}

.buttonsWrapper {
  display: flex;
  justify-content: center;
}

.logoutBtn {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.75rem;
  background-color: #fc6363;
  color: var(--text-main);
  font-family:
    Onest Variable,
    sans-serif;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

.logoutBtn:hover {
  background-color: #ff3535;
  transform: scale(1.02);
}

.logoutBtn:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

@media (max-width: 768px) {
  .infoWrapper {
    flex-direction: column;
    align-items: center;
  }

  .imgWrapper {
    width: 7rem;
    height: 7rem;
  }

  .buttonsWrapper {
    justify-content: center;
  }

  .labels,
  .info {
    text-align: center;
  }
}
