.article {
  line-height: 1.7;
  padding: 0 1rem;
}

.content {
  position: relative;
}

.content::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(
    to right,
    transparent 0%,
    var(--border-color) 15%,
    var(--border-color) 85%,
    transparent 100%
  );
}
.title {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  color: var(--text-main);
  font-family:
    Onest Variable,
    sans-serif;
}

.blocks {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.commonBtnWrapper {
  display: none;
}

@media (max-width: 768px) {
  .commonBtnWrapper {
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;
  }

  .title {
    font-size: 1.75rem;
  }
}

@media (max-width: 480px) {
  .article {
    padding: 0 0.5rem;
  }

  .title {
    font-size: 1.5rem;
  }
}
