.footer {
  width: 100%;
  border-top: 1px solid var(--border-color);
  background: var(--bg-secondary);
  backdrop-filter: blur(14px) saturate(140%);
}

.container {
  margin: 0 auto;
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.linkGroup {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
}

.footerLink {
  font-size: 1rem;
  color: var(--text-secondary);
  text-decoration: none;
  font-family:
    Onest Variable,
    sans-serif;
  transition: color 0.2s ease;
}

.footerLink:hover {
  color: var(--text-main);
  text-decoration: underline;
}

.right {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.contact {
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
  background-color: var(--bg-hover-strong);
  color: var(--text-secondary);
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.contact:hover {
  background-color: var(--bg-active);
}

.copyright {
  display: flex;
  gap: 0.5rem;
  font-size: 1rem;
  color: var(--text-secondary);
  font-family:
    Onest Variable,
    sans-serif;
}

.copyrightText {
  font-family:
    Onest Variable,
    sans-serif;
  color: var(--text-secondary);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: start;
    text-align: center;
  }

  .right {
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }

  .copyright {
    font-size: 0.75rem;
  }

  .copyrightText {
    font-size: 0.75rem;
  }
}
