.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 0.7rem 0;
  background: var(--bg-secondary);
  backdrop-filter: blur(10px) saturate(140%);
  position: sticky;
  top: 0;
  z-index: 100;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  gap: 1rem;
}

.leftSide {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logoWrapper {
  width: 12rem;
  border-radius: 0.75rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 100%;
  filter: var(--icon-filter);
}

.desktopMenu {
  display: flex;
  gap: 1rem;
}

.rightSide {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
}

.burgerBtn {
  width: 3rem;
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.mobileMenuImg {
  width: 2rem;
  height: 2rem;
  filter: var(--icon-filter);
}

.overlay {
  position: fixed;
  inset: 0;
  background: var(--overlay-bg);
  backdrop-filter: blur(2px);
  z-index: 50;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.overlay.visible {
  opacity: 1;
  pointer-events: auto;
}

.active {
  background-color: var(--bg-hover-strong);
}

.mobileMenuWrapper {
  top: 4.25rem;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  opacity: 0;
  transform: translateY(-10px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  pointer-events: none;
  position: fixed;
  z-index: 200;
}

.mobileMenuWrapper.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.themeTogglerContainer {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background: var(--bg-secondary);
  backdrop-filter: blur(14px) saturate(140%);
  border-radius: 15%;
  padding: 0.5rem;
  z-index: 100;
  opacity: 0;
  transform: scale(0.8) translateY(10px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  pointer-events: none;
}

.themeTogglerContainer.visible {
  opacity: 1;
  transform: scale(1) translateY(0);
  pointer-events: auto;
}

button,
a {
  all: unset;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family:
    Onest Variable,
    sans-serif;
  line-height: 1.2;
}

@media (max-width: 768px) {
  .logoWrapper {
    width: 10rem;
  }

  .desktopMenu {
    display: none;
  }

  .burgerBtn {
    display: inline-flex;
  }

  .themeButtonWrapper {
    display: none;
  }

  .rightSide {
    gap: 0.5rem;
  }
}
